
# Uncomment the following to use the Oracle Essbase BYOL listing
# mp_listing_id="ocid1.appcataloglisting.oc1..aaaaaaaaqyxur5zacfln6epkbm46sdu5whf6zepbm43b63rm44d5hnm2ft5a"
# mp_listing_resource_version="19.3.0.0.1-1910111603"
# mp_listing_resource_id="ocid1.image.oc1..aaaaaaaa743guvcbuzeawbltxcesal53hxm6sxtkbduokarlhuf3fah7yvgq"

